<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <img src="assets/images/logo.png" alt="Logo Nontendo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/index">Inicio <span class="sr-only"></span></a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juegos de mesa
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">           
              <li><a class="dropdown-item" [routerLink]="['/categoryAventura']">Aventura</a></li>
              <li><a class="dropdown-item" [routerLink]="['/categoryCooperativo']">Cooperativo</a></li>
              <li><a class="dropdown-item" [routerLink]="['/categoryEstrategia']">Estrategia</a></li>
              <li><a class="dropdown-item" [routerLink]="['/categoryFamiliar']">Familiar</a></li>         
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categoryRegistro']">Registro Usuario</a>
          </li>             
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section id="games">
    <article class="game" *ngFor="let product of filteredProducts">
      <img [src]="product.imagenurl" alt="{{product.nombre}}">
      <h2>{{product.nombre}}</h2>
      <p>{{product.descripcion}}</p>
      <p class="price">Precio: {{product.precio}} <span>Descuento: {{product.descuento ? 'Sí' : 'No'}}</span></p>
    </article>
  </section>
</main>

