<header>
    <nav class="navbar navbar-expand-sm navbar-light">
      <img src="assets/images/logo.png" alt="Logo Nontendo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/index">Inicio <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown" [ngClass]="{'show': showSubMenu}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="showSubMenu" (click)="toggleSubMenu($event)">
              Juegos de mesa
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show': showSubMenu}">
              <a class="dropdown-item" [routerLink]="['/categoryAventura']">Aventura</a>
              <a class="dropdown-item" [routerLink]="['/categoryCooperativo']">Cooperativo</a>
              <a class="dropdown-item" [routerLink]="['/categoryEstrategia']">Estrategia</a>
              <a class="dropdown-item" [routerLink]="['/categoryFamiliar']">Familiar</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categoryAventura">Registro Usuario</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<main>
    <section id="games">
        <article class="game">
            <img src="assets/images/aventureros.webp" alt="Juego 1">
            <h2>¡Aventureros al Tren! (Ticket to Ride)</h2>
            <p>DESCRIPCIÓN
                2 de octubre, 1900. 28 años después de que ese excéntrico londinense, 
                Phileas Fogg, aceptase un reto que le haría ganar 20.000 libras: dar La vuelta al mundo en 80 días. Ahora, 
                en el amanecer de un nuevo siglo, es el momento de emprender un viaje aún más imposible. Unos viejos amigos se han reunido para celebrar la impetuosa y lucrativa apuesta de Fogg, 
                y para proponer una nueva. El premio: 1 millón de dólares para el ganador. La apuesta: comprobar quién es capaz de visitar en tren más ciudades norteamericanas, 
                en sólo 7 días. El viaje comienza ya...</p>
            <p class="price">Precio: $45.990 <span>Descuento: Sí/No</span></p>
        </article> 
        <article class="game">
            <img src="assets/images/carcassonne-niebla-en-carcassonne.jpg" alt="Juego 2">
            <h2>Carcassonne</h2>
            <p>¿Listos para una aventura embrujada?...
                Prepárate para jugar en familia,  Niebla en Carcassonne te lleva a un universo fantástico donde deberán cooperar entre todos para detener la propagación de fantasmas y contener la niebla misteriosa. 
                Los castillos embrujados están a tu favor. Si son lo suficientemente valientes y logran sobrevivir 3 días aumenten el nivel de dificultad y enfrenten un nuevo reto.
                ¿Están listos para aceptar el desafío y dar descanso a las almas inquietas?
                NOTA: Niebla en Carcassonne es un juego totalmente independiente y, al mismo tiempo, compatible con el juego básico Carcassonne 2da Edición.</p>
            <p class="price">Precio: $29.990 <span>Descuento: Sí/No</span></p>
        </article>
        <article class="game">
            <img src="assets/images/cat-in-the-box.jpg" alt="Juego 3">
            <h2>Cat in the box</h2>
            <p>¡Imagina un juego de cartas donde las reglas las escribes tú!
                Cat In The Box te lleva a un viaje lúdico donde cada carta es una puerta a lo impredecible. Este juego de cartas trae la emoción de lo desconocido a tu mesa, un juego familiar para los que aman los giros inesperados. 
                Aquí, el color de cada carta es un misterio que solo tú puedes resolver, desafiándote a pensar más allá, a jugar con la incertidumbre y a sacar el máximo partido de tu estrategia. Un juego de bazas donde los gatos cuánticos son los verdaderos protagonistas.                    
                Perfecto para mentes curiosas y almas aventureras.                    
                ¿Quieres vivir una experiencia de juego que trasciende lo ordinario? Atrévete a entrar en el mundo cuántico de Cat In The Box.</p>
            <p class="price">Precio: $24.990 <span>Descuento: Sí/No</span></p>
        </article>        
    </section>
</main>