:root {
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --header-bg-color: #f2f1e0;
    --header-text-color: #000000; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 0.5rem 1rem;
    position: relative;
    box-sizing: border-box;
}

footer {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

nav.navbar {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

main {
    flex: 1;
    padding: 1rem;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#categories li {
    margin: 1rem;
    text-align: center;
}

#categories img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s;
}

#categories img:hover {
    transform: scale(1.1);
}

#games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.game {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}

.game img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.game img:hover {
    transform: scale(1.1);
}

.game h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.game p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.game .price {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-width: 100%;
        height: auto;
    }
    #categories ul {
        flex-direction: column;
        align-items: center;
    }

    article.game img {
        width: 100%;
        height: auto;
    }

    header img {
        width: 100px; /* Tamaño del logo para pantallas pequeñas */
    }

    main {
        padding: 0.5rem; /* Ajuste de padding para pantallas pequeñas */
    }
}

@media (min-width: 769px) {
    header img {
        width: 150px; /* Tamaño del logo para pantallas medianas y grandes */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header, footer, main {
    animation: fadeIn 1s ease-in-out;
}

.curved-dropdown {
    border-radius: 10px;
    overflow: hidden;
}

.form-group.focused label {
    display: none;
}

.text-danger {
    color: red;
}
