:root {
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --header-bg-color: #f2f1e0;
    --header-text-color: #000000; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 0.5rem 1rem;
    position: relative;
    box-sizing: border-box;
}

footer {
    background-color: var(--header-bg-color); /* Color del footer */
    color: var(--header-text-color); /* Color del texto en el footer */
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Para que se empuje hacia el final del contenedor flex */
}

nav.navbar {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

main {
    flex: 1;
    padding: 1rem;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

#categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#categories li {
    margin: 1rem;
    text-align: center;
}

#categories img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s;
}

#categories img:hover {
    transform: scale(1.1);
}

article.game {
    margin-bottom: 2rem;
    text-align: center;
}

article.game img {
    width: 250px; /* Tamaño ajustado de la imagen */
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto 1rem;
}

article.game h2 {
    font-size: 2.75rem; /* Tamaño del nombre del juego */
    margin: 0.5rem 0;
}

article.game p {
    font-size: 1rem; /* Tamaño de la descripción y otros textos */
    margin: 0.5rem 0;
}

article.game p span {
    font-weight: bold;
    color: var(--primary-color);
}

article.game .price {
    font-size: 1.5rem; /* Tamaño del precio */
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .carousel-item img {
        max-width: 100%;
        height: auto;
    }
    #categories ul {
        flex-direction: column;
        align-items: center;
    }

    article.game img {
        width: 100%;
        height: auto;
    }

    header img {
        width: 100px; /* Tamaño del logo para pantallas pequeñas */
    }
}

@media (min-width: 769px) {
    header img {
        width: 150px; /* Tamaño del logo para pantallas medianas y grandes */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header, footer, main {
    animation: fadeIn 1s ease-in-out;
}

.curved-dropdown {
    border-radius: 10px;
    overflow: hidden;
}

.form-group.focused label {
    display: none;
}

.text-danger {
    color: red;
}
